@import "./colors.scss";

.container {
  position: sticky;
  top: 0;

  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.75rem 1.25rem;

  z-index: 1;

  background-color: white;
  box-shadow: 2px 2px 4px 0 rgba(51, 51, 51, 0.342);

  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

  h1 {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Dancing Script";
    font-size: 2rem;

    cursor: pointer;

    & > div {
      padding: 0 0.5rem;
      div {
        width: 1.75rem;
        height: 1.75rem;
      }
    }
  }

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      font-size: 0.875rem;
      font-weight: 600;

      border-color: $red;
      color: $red;

      padding: 0.5rem;

      &:last-of-type {
        border-color: $yellow;
        color: $yellow;

        margin-left: 0.75rem;
      }

      @media screen and (max-width: 550px) {
        p {
          display: none;
        }

        & > :first-child {
          margin-right: 0;
        }
      }
    }
  }
}
