.container {
  position: relative;

  width: 100%;
  height: 100%;

  display: grid;
  grid-auto-columns: 100%;
  grid-auto-flow: column;

  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  @media screen and (max-width: 550px) {
    display: grid;
    grid-auto-flow: row;

    padding: 1rem 0;
  }

  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;

    scroll-snap-type: none;
    scroll-behavior: smooth;
  }
}

.contain {
  width: 100%;
  height: 100%;

  position: relative;

  button {
    position: absolute;

    top: 50%;
    left: 0;

    transform: translate(-50%, -50%);

    padding: 1.75rem;
    border: none;
    box-shadow: 2px 2px 4px 0 rgba(51, 51, 51, 0.342),
      0px 0px 2px 0 rgba(51, 51, 51, 0.342);

    &:last-of-type {
      right: 0;
      left: initial;
    }

    & > :first-child {
      margin-right: 0;
    }

    i {
      top: 50%;
      left: 50%;
    }

    @media screen and (max-width: 550px) {
      display: none;
    }
  }
}
